@import url(vendor/fonts/fonts.css);
@import url(vendor/normalize.css);

.page {
    background-color: #d6eaf8;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    border: solid 4px #4830F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.select-block {
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

.form-title {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.select-title {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.select-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
    background-color: #7eb5fc;
    border: none;
}

.select-area {
    margin-top: 20px;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}



.button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  border: none;
}

.button:hover {
    background-position: right center;
}

@media screen and (max-width: 600px) {
    .button-group {
       padding-bottom: 15px;
    }
}

@media screen and (max-width: 725px) {
   
    .content {
       width: 400px;
       height: 400px;
    }
    .form-title {
        font-size: 25px;
    }

    .button {
        padding: 10px 20px;
        margin: 5px 10px;
        font-size: 13px;
    }
    .button-group {
        padding-top: 15px;
    }
}